
body
{
    background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    color: black;
}
form input{
    color: black !important;
}
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
#firstname:hover{
    background-color: white;
}

#firstname{
    color: white;
}
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");

html, body {
    height: 100%;
}
body {
    padding-top: 75px;
}
body.navbar-more-show  {
    overflow: hidden;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar {
    height: calc(100%);
    max-height: 300px;
    -webkit-transform: translate(0px, calc(-100% + 69px));
    transform: translate(0px, calc(-100% + 69px));
}
.navbar .container:not(.navbar-more) {
    padding: 0px;
}
.navbar-more-overlay {
    background-color: rgba(102, 102, 102, 0.55);
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1029;
}
.navbar-more-show > .navbar-more-overlay {
    display: block;
}
.navbar-more-show > .navbar {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
.navbar-nav.mobile-bar {
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin: 0px 0px;
}
.navbar-nav.mobile-bar > li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
}
.navbar-nav.mobile-bar > li > a > span.menu-icon {
    display: block;
    font-size: 1.8em;
}
.navbar-more {
    background-color: rgb(255, 255, 255);
    height: calc(100% - 69px);
    overflow: auto;
}
.navbar-more .navbar-form {
    border-width: 0px;
}
.navbar-more .navbar-nav > li > a {
    color: rgb(64, 64, 64);
}
.navbar-more > .navbar-nav > li > a > span.menu-icon {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .navbar {
        height: auto;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    .navbar-nav.mobile-bar {
        display: block;
        max-height: 64px;
        margin: 0px -15px;
    }
    .navbar-nav.mobile-bar > li > a > span.menu-icon {
        display: none;
    }
}

body {
    /*color: white !important;*/
}

.message {
    color: #3c763d;
    background-color: #dff0d8 !important;
    position: relative;
    display: table;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 auto;
    border-radius: 5px;

}

.col-md-3 img, .col-sm-4 img, .col-xs-6 img{
    height: 240px;
    width: 370px;
}